<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        /* *{
            margin:0;
            padding:0;
        } */
      #nav {
        display: flex;
        justify-content: space-evenly;
        background-color: rgb(229, 233, 236);
      }
    </style>
  </head>

  <body>
    <div id="nav">
      <p><a href="/">Home</a></p>
      <p>post</p>
      <p>login</p>
      <p><a href="/signup">signup</a> </p>
      <p>Profile</p>
    </div>
  </body>
</html>
